source https://www.nuget.org/api/v2
framework: net46
nuget FSharp.Core
nuget Taser.Chakra -prerelease

group build
source https://www.nuget.org/api/v2
framework: net46
nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Formatting
nuget RazorEngine